@model dynamic

<style>
table td {
  border-top: none !important;
}
table th, table td {
  padding-top: 5px;
   border-top: none !important;
}
</style>
<table class="">
  <colgroup>
	<col style="width:20px"/>
    <col style="width:180px"/>
    <col style="width:20px"/>
    <col style="width:600px"/>
  </colgroup>
  <tr>
	<td></td>
    <td>Nama Ujian</td>
    <td>:</td>
    <td>@Model.Ujian.NamaUjian</td>
  </tr>
  <tr>
	<td></td>
    <td>Nama Program</td>
    <td>:</td>
    <td>@Model.Permohonan.NamaProgram SIRI @Model.Permohonan.SiriProgram BIL. @Model.Permohonan.BilProgram/@Model.Permohonan.TahunProgram</td>
  </tr>
  <tr>
	<td></td>
    <td>Nama Pegawai</td>
    <td>:</td>
    <td>@Model.Pengguna.Nama</td>
  </tr>
  <tr>
	<td></td>
    <td>No. K/P Pegawai</td>
    <td>:</td>
    <td>@Model.Pengguna.MyKad</td>
  </tr>

</table>
