<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
    <style media="print">
        div.peringatan {
            page-break-after: always;
        }
    </style>
    @RenderSection("head", false)
</head>
<body style="padding-left:40px;padding-right:40px; width:800px">

    @Html.Partial("_peringatan.ip")

    <table style="width:100%">
        <tr>
            <td>
                <img src="/images/jata.png" alt="Jata Negara" width="100" height="80" />
            </td>
            <td style=text-align:center>
                <strong>LAPORAN UJIAN PSIKOMETRIK</strong>
                <br />
                <strong>JABATAN PERKHIDAMATAN AWAM MALAYSIA</strong>
            </td>
            <td>
                <img src="/images/logo1.png" alt="logo JPA" width="100" height="80" />
            </td>
        </tr>
    </table>

    <div style="height:40px"></div>
    @Html.Partial("_maklumat.sesi.ujian")

    @RenderBody()


</body>
</html>
