@model web.sph.App_Code.IpTraitViewModel
<div class="row">
  <label class="col-md-4">Nama Pegawai :</label>
  <strong class="col-md-8">@Model.Sesi.NamaPengguna :</strong>
</div>
<div class="row">
  <label class="col-md-4">No KP Pegawai :</label>
  <strong class="col-md-8">@Model.Sesi.MyKad</strong>
</div>
<div class="row">
  <label class="col-md-4">Tempat Bertugas :</label>
  <strong class="col-md-8">@Model.Sesi.MyKad</strong>
</div>
</div>
<div class="row">
  <label class="col-md-4">1 A :</label>
  <strong class="col-md-8">@Model.OneA</strong>
</div>
</div>
<div class="row">
  <label class="col-md-4">1 B :</label>
  <strong class="col-md-8">@Model.OneB</strong>
</div>
<div class="row">
  <label class="col-md-4">1 B :</label>
  <strong class="col-md-8">@Model.Result</strong>
</div>
