@model Bespoke.epsikologi_sesiujian.Domain.SesiUjian
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.NamaPengguna</h1>
	<div class="row">
		<label class="col-md-4">Nama Pegawai :</label>
		<strong class="col-md-8">@Model.NamaPengguna :</strong>
	</div>
	<div class="row">
		<label class="col-md-4">No KP Pegawai :</label>
		<strong class="col-md-8">@Model.MyKad</strong>
	</div>
	<div class="row">
		<label class="col-md-4">Tempat Bertugas :</label>
		<strong class="col-md-8">@Model.MyKad</strong>
	</div>
</body>
</html>