@model Bespoke.epsikologi_sesiujian.Domain.SesiUjian
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.NamaPengguna</h1>
	<div class="row">
		<label class="col-md-4">Nama Pegawai :</label>
		<strong class="col-md-8">@Model.NamaPengguna :</strong>
	</div>
	<div class="row">
		<label class="col-md-4">No KP Pegawai :</label>
		<strong class="col-md-8">@Model.MyKad</strong>
	</div>
	<div class="row">
		<label class="col-md-4">Tempat Bertugas :</label>
		<strong class="col-md-8">@Model.MyKad</strong>
	</div>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-width:2px;border-style:solid; border-color:#000}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-x9qe{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#00009b;text-align:center; border:solid}
.tg .tg-gjsp{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#00009b;text-align:center; border:solid}
.tg .tg-8m8i{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;text-align:center; border:solid}
.tg .tg-d28h{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#02025e;text-align:center; border:solid}
.tg .tg-ng1t{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;text-align:center; border:solid}
.tg .tg-ex6j{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#34cdf9;text-align:center; border:solid}
.tg .tg-y78u{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#34cdf9;text-align:center; border:solid}
.tg .tg-7poc{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#02025e;text-align:center; border:solid}
.tg .tg-bn76{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#3166ff;text-align:center; border:solid}
.tg .tg-ux9h{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#3166ff;text-align:center; border:solid}
.tg .tg-bb4g{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#3531ff;text-align:center; border:solid}
.tg .tg-6wvf{font-size:20px;font-family:Tahoma, Geneva, sans-serif !important;;color:#fe0000;text-align:center; border-color:#F00;border:solid}
</style>
 <table>
  <tr></tr>
  <tr></tr>
  </table>
<table class="tg" border="solid" bordercolor="#000000" >
<colgroup>
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
<col style="width: 80px">
</colgroup>
 
  <tr>
  
    <td class="tg-ng1t">Kebimbangan</td>
    <td class="tg-8m8i">Kemurungan</td>
    <td class="tg-ng1t">Aktif<br>Sosial</td>
    <td class="tg-8m8i">Luahan <br>Perasaan</td>
    <td class="tg-ng1t">Bersimpati</td>
    <td class="tg-8m8i">Pemikiran <br>Emotif</td>
    <td class="tg-ng1t">Asertif</td>
    <td class="tg-8m8i">Persengketaan</td>
    <td class="tg-ng1t">Bersikap <br>Sistematik</td>
    <td class="tg-8m8i">Kebolehpercayaan:<br>Diragui</td>
  </tr>
 <tr>
    <td class="" colspan="10"></td>
  </tr>
  <tr>
    <td class="tg-ex6j">100</td>
    <td class="tg-y78u">100</td>
    <td class="tg-7poc">100</td>
    <td class="tg-d28h">100</td>
    <td class="tg-7poc">100</td>
    <td class="tg-y78u">100</td>
    <td class="tg-7poc">100</td>
    <td class="tg-y78u">100</td>
    <td class="tg-7poc">100</td>
    <td class="" rowspan="5"></td>
  </tr>
  <tr>
    <td class="tg-ex6j">95</td>
    <td class="tg-y78u">95</td>
    <td class="tg-7poc">95</td>
    <td class="tg-d28h">95</td>
    <td class="tg-7poc">95</td>
    <td class="tg-y78u">95</td>
    <td class="tg-7poc">95</td>
    <td class="tg-y78u">95</td>
    <td class="tg-7poc">95</td>
  </tr>
  <tr>
    <td class="tg-ex6j">90</td>
    <td class="tg-y78u">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-d28h">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-y78u">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-y78u">90</td>
    <td class="tg-7poc">90</td>
  </tr>
  <tr>
    <td class="tg-bn76">85</td>
    <td class="tg-y78u">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-d28h">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-y78u">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-y78u">85</td>
    <td class="tg-7poc">85</td>
  </tr>
  <tr>
    <td class="tg-bn76">80</td>
    <td class="tg-ux9h">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-d28h">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-ux9h">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-y78u">80</td>
    <td class="tg-7poc">80</td>
  </tr>
  <tr>
    <td class="tg-bn76">75</td>
    <td class="tg-ux9h">75</td>
    <td class="tg-7poc">75</td>
    <td class="tg-x9qe">75</td>
    <td class="tg-gjsp">75</td>
    <td class="tg-ux9h">75</td>
    <td class="tg-7poc">75</td>
    <td class="tg-ux9h">75</td>
    <td class="tg-7poc">75</td>
    <td class="tg-y78u">15</td>
  </tr>
  <tr>
    <td class="tg-bn76">70</td>
    <td class="tg-ux9h">70</td>
    <td class="tg-7poc">70</td>
    <td class="tg-x9qe">70</td>
    <td class="tg-gjsp">70</td>
    <td class="tg-ux9h">70</td>
    <td class="tg-7poc">70</td>
    <td class="tg-ux9h">70</td>
    <td class="tg-7poc">70</td>
    <td class="tg-y78u">14</td>
  </tr>
  <tr>
    <td class="tg-bn76">65</td>
    <td class="tg-ux9h">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-x9qe">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-ux9h">65</td>
    <td class="tg-7poc">65</td>
    <td class="tg-ux9h">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-y78u">13</td>
  </tr>
  <tr>
    <td class="tg-bn76">60</td>
    <td class="tg-ux9h">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-x9qe">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-x9qe">60</td>
    <td class="tg-7poc">60</td>
    <td class="tg-ux9h">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-y78u">12</td>
  </tr>
  <tr>
    <td class="tg-bn76">55</td>
    <td class="tg-ux9h">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-x9qe">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-x9qe">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-ux9h">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-ux9h">11</td>
  </tr>
  <tr>
    <td class="tg-gjsp">50</td>
    <td class="tg-ux9h">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-ux9h">50</td>
    <td class="tg-bn76">50</td>
    <td class="tg-x9qe">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-x9qe">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-ux9h">10</td>
  </tr>
  <tr>
    <td class="tg-gjsp">45</td>
    <td class="tg-x9qe">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-ux9h">45</td>
    <td class="tg-bn76">45</td>
    <td class="tg-x9qe">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-x9qe">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-ux9h">9</td>
  </tr>
  <tr>
    <td class="tg-gjsp">40</td>
    <td class="tg-x9qe">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-ux9h">40</td>
    <td class="tg-bn76">40</td>
    <td class="tg-x9qe">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-x9qe">40</td>
    <td class="tg-bn76">40</td>
    <td class="tg-x9qe">8</td>
  </tr>
  <tr>
    <td class="tg-gjsp">35</td>
    <td class="tg-x9qe">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-ux9h">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-d28h">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-x9qe">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-x9qe">7</td>
  </tr>
  <tr>
    <td class="tg-7poc">30</td>
    <td class="tg-x9qe">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-ux9h">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-d28h">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-x9qe">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-x9qe">6</td>
  </tr>
  <tr>
    <td class="tg-7poc">25</td>
    <td class="tg-d28h">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-ux9h">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-d28h">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-d28h">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-d28h">5</td>
  </tr>
  <tr>
    <td class="tg-7poc">20</td>
    <td class="tg-d28h">20</td>
    <td class="tg-bn76">20</td>
    <td class="tg-y78u">20</td>
    <td class="tg-ex6j">20</td>
    <td class="tg-d28h">20</td>
    <td class="tg-bn76">20</td>
    <td class="tg-d28h">20</td>
    <td class="tg-ex6j">20</td>
    <td class="tg-d28h">4</td>
  </tr>
  <tr>
    <td class="tg-7poc">15</td>
    <td class="tg-d28h">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-y78u">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-d28h">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-d28h">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-d28h">3</td>
  </tr>
  <tr>
    <td class="tg-7poc">10</td>
    <td class="tg-d28h">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-y78u">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-x9qe">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-d28h">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-d28h">2</td>
  </tr>
  <tr>
    <td class="tg-7poc">5</td>
    <td class="tg-d28h">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-y78u">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-x9qe">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-d28h">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-d28h">1</td>
  </tr>
  <tr>
    <td class="" colspan="10"></td>
  </tr>
  <tr>
    <td class="tg-ng1t">Ketenangan</td>
    <td class="tg-8m8i">Keceriaan</td>
    <td class="tg-ng1t">Pasif <br>Sosial</td>
    <td class="tg-8m8i">Pendam <br>Perasaan</td>
    <td class="tg-ng1t">Kurang <br>Bersimpati</td>
    <td class="tg-8m8i">Pemikiran <br>Rasional</td>
    <td class="tg-ng1t">Kebergantungan</td>
    <td class="tg-8m8i">Toleransi</td>
    <td class="tg-ng1t">Bersikap<br>Spontan</td>
    <td class="tg-8m8i">Kebolehpercayaan:<br>Diterima</td>
  </tr>

  </table>
  
  <table>
  <tr></tr>
  <tr></tr>
  </table>
  
  <table class="tg">
<colgroup>
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">

</colgroup>
  <tr>
    <td class="tg-7poc"></td>
    <td class="tg-x9qe"></td>
    <td class="tg-bb4g"></td>
    <td class="tg-y78u"></td>
    <td class="tg-6wvf">---------</td>
   
  </tr>
  <tr>
    <td class="tg-ng1t">Cemerlang</td>
    <td class="tg-8m8i">Memuaskan</td>
    <td class="tg-ng1t">Penambahbaikan<br>Digalakkan</td>
    <td class="tg-8m8i">Penambahbaikan <br>Diperlukan</td>
    <td class="tg-ng1t">Indikator <br>Klien</td>
    
  </tr>
</table>

</body>
</html>