@model web.sph.App_Code.PpkpTraitViewModel
@{
    Layout = "_MasterPage.cshtml";
}

@section head
{
    <style type="text/css">
        .blue-header {
            color: blue;
        }
    </style>
}
@section Peringatan{
    @Html.Partial("_peringatan.ppkp")
}
<div style="height:40px"></div>

<table class="row">
    <colgroup>
        <col style="width: 400px" />
        <col style="width: 450px" />
    </colgroup>
    <tbody>
        <tr>
            <td style="text-align: center">
                <strong>PROFIL PERSONALITI</strong>
                <br />
                <canvas id="profil-personaliti-chart" height="200" width="400"></canvas>
            </td>
            <td style="vertical-align:top">

                <div>
                    <h3>PROFIL PERSONALITI</h3>
                    <p>
                        <strong>Kestabilan Emosi : @Model.Emosi.Tret</strong>
                        <br />
                        @Model.Emosi.InterpretasiRingkas
                    </p>
                    <p>
                        <strong>Keperibadian: @Model.Peribadi.Tret</strong>
                        <br />
                        @Model.Peribadi.InterpretasiRingkas
                    </p>

                    <p>
                        <strong>Hubungan Interpersonal: @Model.Interpersonal.Tret</strong>
                        <br />
                        @Model.Interpersonal.InterpretasiRingkas
                    </p>
                    <p>
                        <strong>Gaya Cara Pemikiran : @Model.Pemikiran.Tret</strong>

                        <br />
                        @Model.Pemikiran.InterpretasiRingkas
                    </p>
                    <p>
                        <strong>Gaya Cara Kerja : @Model.GayaBekerja.Tret</strong>
                        <br />
                        @Model.GayaBekerja.InterpretasiRingkas
                    </p>
                </div>
            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <strong>PROFIL KEPIMPINAN</strong>
                <br />
                <canvas id="profil-kempipinan-chart" height="400" width="400"></canvas>
            </td>
            <td>
                <div>
                    <h3>PROFIL KEMPIMPINAN</h3>
                    <p>
                        <strong>@Model.Emosi.Tret</strong>
                        <br />
                    <p style="text-align:justify">@Model.Emosi.Kepimpinan</p>
                    </p>
                    <p>
                        <strong>@Model.Peribadi.Tret</strong>
                        <br />
                    <p style="text-align: justify">@Model.Peribadi.Kepimpinan</p>
                    </p>

                    <p>
                        <strong> @Model.Interpersonal.Tret</strong>
                        <br />
                    <p style="text-align:justify">@Model.Interpersonal.Kepimpinan</p>
                    </p>
                    <p>
                        <strong> @Model.Pemikiran.Tret</strong>

                        <br />
                    <p style="text-align:justify">@Model.Pemikiran.Kepimpinan</p>
                    </p>
                    <p>
                        <strong> @Model.GayaBekerja.Tret</strong>
                        <br />
                    <p style="text-align:justify">@Model.GayaBekerja.Kepimpinan</p>
                    </p>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center">
                <div style="border: 1px solid #000000; padding-top: 10px; margin-top: 40px">

                    <strong>KESESUAIAN PENEMPATAN</strong>
                    <br />
                    <canvas id="kesesuaian-penempatan-chart" height="280" width="950"></canvas>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript">
    var vm = @Html.Raw(Model.ToString());


    var personalitiData = {
        labels: ["Emosi", "Peribadi", "Interpersonal", "Pemikiran", "Gaya Bekerja"],
        datasets: [
            {
                label: "PROFIL PERSONALITI",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "blue",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [@Model.ProfilPersonaliti.Emosi, @Model.ProfilPersonaliti.Peribadi, @Model.ProfilPersonaliti.Interpersonal, @Model.ProfilPersonaliti.Pemikiran, @Model.ProfilPersonaliti.GayaBekerja]
            }
        ]
    };

    var kepimpinanData = {
        labels: ["BERDAYA TAHAN", "ASERTIF", "EKSTROVERT", "STRATEGIS", "FOKUS"],
        datasets: [
            {
                label: "PROFIL KEMPIPINAN",
                fillColor: "rgba(255,255,0,0.3)",
                strokeColor: "red",
                pointColor: "red",
                pointStrokeColor: "#fff",
                pointHighlightFill: "rgba(255, 65, 116, 1)",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [@Model.ProfilKepimpinan.BerdayaTahan, @Model.ProfilKepimpinan.Asertif, @Model.ProfilKepimpinan.Ekstrovert, @Model.ProfilKepimpinan.Strategis, @Model.ProfilKepimpinan.Fokus]
            }
        ]
    };
    var kesesuaianPenempatanData = {
        labels: ["Pembuat Dasar dan Strategi", "Penyelesaian Masalah", "Penguatkuasaan", "Operasi", "Perkhidmatan Pelanggan"],
        datasets: [
            {
                label: "KESESUAIAN PENEMPATAN",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [@Model.KesesuaianPenempatan.PembuatDasarDanStrategi, @Model.KesesuaianPenempatan.PenyelesaiMasalah,
                    @Model.KesesuaianPenempatan.Penguatkuasa, @Model.KesesuaianPenempatan.OperasiRutin, @Model.KesesuaianPenempatan.PerkhidmatanPelanggan]
            }
        ]
    };
    window.onload = function() {


        window.profilPersonalitiChart = new Chart(document.getElementById("profil-personaliti-chart").getContext("2d")).Line(personalitiData, {
            bezierCurve: false
        });
        window.profilKepimpinanChart = new Chart(document.getElementById("profil-kempipinan-chart").getContext("2d")).Radar(kepimpinanData, {
            datasetFill: false,
            scaleShowLabels: true,
            scaleOverride: true,
            scaleSteps: 5,
            scaleStepWidth: 1,
            scaleStartValue: 0
        });
        var kpc = document.getElementById("kesesuaian-penempatan-chart").getContext("2d");

        window.kesesuaianPenempatanChart = new Chart(kpc).Bar(kesesuaianPenempatanData, {
            scaleOverride: true,
            scaleSteps: 5,
            scaleStepWidth: 1,
            scaleStartValue: 0
        });

        kesesuaianPenempatanChart.datasets[0].bars[0].fillColor = "red";
        kesesuaianPenempatanChart.datasets[0].bars[1].fillColor = "greenyellow";
        kesesuaianPenempatanChart.datasets[0].bars[2].fillColor = "#98bde3";
        kesesuaianPenempatanChart.datasets[0].bars[3].fillColor = "#719bf0";
        kesesuaianPenempatanChart.datasets[0].bars[4].fillColor = "#3bae63";
        kesesuaianPenempatanChart.update();


        setTimeout(function() {

            window.print();
        }, 1000);
    }

</script>
<div style="color: #98bde3"></div>
