@model web.sph.App_Code.PpkpTraitViewModel
@{
    Layout = "_MasterPage.cshtml";
}

@section head
{
    <style type="text/css">
        .blue-header {
            color: blue;
        }

        h3 {
            margin-top: 30px;
            font-size: medium;
            text-transform: uppercase;
            font-weight: bold;
        }
        table.ppkp-dimensi {
            margin-top: 10px;
        }
    </style>
    <style media="print">
        table.ppkp-dimensi {
            page-break-after: false;
        }
    </style>
}
@section Peringatan{
    @Html.Partial("_peringatan.ppkp")
} 
<br>
<style>
#grad1 {
    border-radius: 25px;
    border: 0px solid #73AD21;
    height: 150px;
    background: #FFBFBF !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FCF2F2, #FFBFBF) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FCF2F2, #FFBFBF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FCF2F2, #FFBFBF) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FCF2F2, #FFBFBF) !important; /* Standard syntax (must be last) */
}
#grad2 {
    border-radius: 25px;
    border: 0px solid #73AD21;
    height: 150px;
    background: #b3ffb3 !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F2FAF2, #b3ffb3) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2FAF2, #b3ffb3) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2FAF2, #b3ffb3) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2FAF2, #b3ffb3) !important; /* Standard syntax (must be last) */
}
#grad3 {
    border-radius: 25px;
    border: 0px solid #73AD21;
    heighthttp://www.w3schools.com/colors/colors_rgb.asp: 150px;
    background: #EBCCEB !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FAF2FA, #EBCCEB) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FAF2FA, #EBCCEB) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FAF2FA, #EBCCEB) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FAF2FA, #EBCCEB) !important; /* Standard syntax (must be last) */
}
#grad4 {
    border-radius: 25px;
    border: 0px solid #73AD21;
    height: 150px;
    background:  #CCE6FF !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F0F7FF, #CCE6FF) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F0F7FF, #CCE6FF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F0F7FF, #CCE6FF) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F0F7FF, #CCE6FF) !important; /* Standard syntax (must be last) */
}
#grad5 {
    border-radius: 25px;
    border: 0px solid #73AD21;
    height: 150px;
    background: #FFCC99 !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF0E0, #FFCC99) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF0E0, #FFCC99) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF0E0, #FFCC99) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF0E0 , #FFCC99) !important; /* Standard syntax (must be last) */
}
</style>



<table  border="0">
   <colgroup>
        <col style="width: 300px"/>
        <col style="width: 10px"/>
		<col style="width: 490px"/>
    </colgroup>

<tr>
<td valign="bottom" ><b>DIMENSI EMOSI</b><br><canvas id="dimensi-emosi-chart" width="300" height="150" ></canvas></td>
<td>&nbsp</td>
<td valign="top" id="grad1" >@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Emosi)</td>
</tr>

<tr>
<td>&nbsp</td>
<td>&nbsp</td>
<td>&nbsp</td>
</tr>

<tr>
<td valign="bottom"><b>DIMENSI CARA GAYA BEKERJA</b><br><canvas id="dimensi-cara-gaya-bekerja-chart" width="300" height="190" ></canvas></td>
<td></td>
<td valign="top" id="grad2">@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.GayaBekerja)</td>
</tr>
<tr><td>&nbsp</td>
<td>&nbsp</td>
<td>&nbsp</td></tr>

<tr>
<td valign="bottom"><b>DIMENSI CARA GAYA PEMIKIRAN</b><br><canvas id="dimensi-cara-gaya-pemikiran-chart" width="300" height="150" ></canvas></td>
<td></td>
<td valign="top" id="grad3" >@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Pemikiran)</td>
</tr>
<tr><td>&nbsp</td>
<td>&nbsp</td>
<td>&nbsp</td></tr>

<tr>
<td valign="bottom"><b>DIMENSI HUBUNGAN INTERPERSONAL</b><br><canvas id="dimensi-hubungan-interpesonal-chart" width="300" height="200" ></canvas></td>
<td></td>
<td valign="top" id="grad4">@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Interpersonal)</td>
</tr>
<tr><td>&nbsp</td>
<td>&nbsp</td>
<td>&nbsp</td></tr>

<tr>
<td valign="bottom"><b>DIMENSI HUBUNGAN PERIBADI</b><br><canvas id="dimensi-peribadi-chart" width="300" height="190" ></canvas></td>
<td></td>
<td valign="top" id="grad5">@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Peribadi)</td>
</tr>
<tr><td>&nbsp</td>
<td>&nbsp</td>
<td>&nbsp</td></tr>
</table>

<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/Chart.HorizontalBar.js"></script>
<script type="text/javascript">
    var vm = @Html.Raw(Model.ToString());



    var dimensiEmosiData = {
        labels: ["KETAHANAN DIRI","KECERIAAN", "KESABARAN", "KETENANGAN"],
        datasets: [
            {
                label: "KESTABILAN EMOSI",
                fillColor: "  #FFBFBF",
                //fillColor: "rgba(220,220,220,0.2)",				
                strokeColor: "red",
                pointColor: "ref",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#88ff4d",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "A4").Sum(x => x.Nilai),
					@Model.Sesi.JawapanCollection.Where(x => x.Trait == "A3").Sum(x => x.Nilai),
					@Model.Sesi.JawapanCollection.Where(x => x.Trait == "A2").Sum(x => x.Nilai),
					@Model.Sesi.JawapanCollection.Where(x => x.Trait == "A1").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiGayaBekerjaData = {
        labels: ["PERTIMBANGAN DIRI", "DISIPLIN DIRI","PENCAPAIAN","SISTEMATIK","KESEMPURNAAN"],
        datasets: [
            {
				
                label: "CARA GAYA BEKERJA",
                fillColor: "#b3ffb3",
                //fillColor: "rgba(220,220,220,0.2)",				
                strokeColor: "green",
                pointColor: "ref",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#88ff4d",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
				@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B5").Sum(x => x.Nilai),
				@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B4").Sum(x => x.Nilai),
				@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B3").Sum(x => x.Nilai),
				@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B2").Sum(x => x.Nilai),
                @Model.Sesi.JawapanCollection.Where(x => x.Trait == "B1").Sum(x => x.Nilai)
                    
                   
                    
                    ]
            }
        ]
    },
    dimensiPemikiranData = {
        labels: ["KETELITIAN","KESEDIAAN BERUBAH","BERMINDA TERBUKA","KREATIVITI"],
        datasets: [
            {
                label: "CARA GAYA PEMIKIRAN",
                fillColor: "#EBCCEB",
                strokeColor: "purple",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C4").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C1").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiHubunganInterpersonalData = {
        labels: ["KETELUSAN","KEPERCAYAAN","KEPIMPINAN","AKTIF BERTENAGA","AKTIF SOSIAL","MUDAH MESRA"],
        datasets: [
            {
                label: "HUBUNGAN INTERPERSONAL",
                fillColor: " #CCE6FF",
                strokeColor: "blue",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D6").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D5").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D4").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D1").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiPeribadiData = {
        labels: ["KESEDARAN KENDIRI","BERSIKAP DOMINAN","KESEDERHANAAN","KEPERSETUJUAN","KESEDIAAN MEMBANTU"],
        datasets: [
            {
                label: "KEPERIBADIAN",
                fillColor: "#FFCC99",
                strokeColor: "orange",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E5").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E4").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E1").Sum(x => x.Nilai)]
            }
        ]
    };


    window.onload = function() {

        var option = {           
            scaleOverride: true,
            scaleSteps: 3,
            scaleStepWidth: 20,
            scaleStartValue: 0
        };
        var option80 = {           
            scaleOverride: true,
            scaleSteps: 3,
            scaleStepWidth: 20,
            scaleStartValue: 0
        };
		
		
		 

        window.dimensiEmosiChart = new Chart(document.getElementById("dimensi-emosi-chart").getContext("2d")).HorizontalBar(dimensiEmosiData, option80);
        window.dimensiGayaBekerjaChart = new Chart(document.getElementById("dimensi-cara-gaya-bekerja-chart").getContext("2d")).HorizontalBar(dimensiGayaBekerjaData,option);
        window.dimensiPemikiranChart = new Chart(document.getElementById("dimensi-cara-gaya-pemikiran-chart").getContext("2d")).HorizontalBar(dimensiPemikiranData,option);
        window.dimensiHubunganInterpersonalChart = new Chart(document.getElementById("dimensi-hubungan-interpesonal-chart").getContext("2d")).HorizontalBar(dimensiHubunganInterpersonalData,option);
        window.dimensiPeribadiChart = new Chart(document.getElementById("dimensi-peribadi-chart").getContext("2d")).HorizontalBar(dimensiPeribadiData,option80);


        //dimensiGayaBekerjaChart.datasets[0].bars[1].fillColor = "greenyellow";
        //dimensiGayaBekerjaChart.datasets[0].bars[2].fillColor = "#98bde3";
        //dimensiGayaBekerjaChart.datasets[0].bars[3].fillColor = "#98bde3";
        //dimensiGayaBekerjaChart.update();

        setTimeout(function() {

            window.print();
        }, 1000);
    }

</script>
<div style="color: #98bde3"></div>
