@model web.sph.App_Code.PpkpTraitViewModel
@{
    Layout = "_MasterPage.cshtml";
}

@section head
{
    <style type="text/css">
        .blue-header {
            color: blue;
        }

        h3 {
            margin-top: 40px;
            font-size: medium;
            text-transform: uppercase;
            font-weight: bold;
        }
        table.ppkp-dimensi {
            margin-top: 20px;
        }
    </style>
    <style media="print">
        table.ppkp-dimensi {
            page-break-after: always;
        }
    </style>
}


<h3>DIMENSI EMOSI</h3>
<canvas id="dimensi-emosi-chart" width="700" height="400" style="margin-left: auto; margin-right: auto"></canvas>
@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Emosi)

<h3>DIMENSI CARA GAYA BEKERJA</h3>
<canvas id="dimensi-cara-gaya-bekerja-chart" width="700" height="400" style="margin-left: auto; margin-right: auto"></canvas>
@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.GayaBekerja)

<h3>DIMENSI CARA GAYA PEMIKIRAN</h3>
<canvas id="dimensi-cara-gaya-pemikiran-chart" width="700" height="400" style="margin-left: auto; margin-right: auto"></canvas>
@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Pemikiran)

<h3>DIMENSI HUBUNGAN INTERPERSONAL</h3>
<canvas id="dimensi-hubungan-interpesonal-chart" width="700" height="400" style="margin-left: auto; margin-right: auto"></canvas>
@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Interpersonal)

<h3>DIMENSI HUBUNGAN PERIBADI</h3>
<canvas id="dimensi-peribadi-chart" width="700" height="400" style="margin-left: auto; margin-right: auto"></canvas>
@Html.Partial("_ppkp.dimensi.skor", Model.SkorKestabilanEmosi.Peribadi)

<script src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript">
    var vm = @Html.Raw(Model.ToString());



    var dimensiEmosiData = {
        labels: ["KETENANGAN", "KESABARAN", "KECERIAAN", "DAYA TAHAN"],
        datasets: [
            {
                label: "KESTABILAN EMOSI",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "red",
                pointColor: "ref",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "A1").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "A2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "A3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "A4").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiGayaBekerjaData = {
        labels: ["KESEMPURNAAN", "SISTEMATIK", "PENCAPAIAN DIUTAMAKAN", "DISIPLIN DIRI", "PERTIMBANGAN DIRI"],
        datasets: [
            {
                label: "CARA GAYA BEKERJA",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "orange",
                pointColor: "orange",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "B1").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "B2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "B3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "B4").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "B5").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiPemikiranData = {
        labels: ["KREATIF", "KEABSTRAKAN IDEA", "KESEDIAAN BERUBAH", "KETELITIAN", "PERTIMBANGAN DIRI"],
        datasets: [
            {
                label: "CARA GAYA PEMIKIRAN",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "blue",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C1").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "C4").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiHubunganInterpersonalData = {
        labels: ["MUDAH MESRA","AKTIF SOSIAL","AKTIVITI HARIAN","KEPIMPINAN","KEPERCAYAAN","KETELUSAN"],
        datasets: [
            {
                label: "HUBUNGAN INTERPERSONAL",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "blue",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D1").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D4").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D5").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "D6").Sum(x => x.Nilai)]
            }
        ]
    },
    dimensiPeribadiData = {
        labels: ["KESEDIAAN MEMBANTU","KEPERSETUJUAN","KESEDERHANAAN","BERSIKAP ASERTIF","KESEDARAN KENDIRI"],
        datasets: [
            {
                label: "KEPERIBADIAN",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "blue",
                pointColor: "blue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E1").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E2").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E3").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E4").Sum(x => x.Nilai),
                    @Model.Sesi.JawapanCollection.Where(x => x.Trait == "E5").Sum(x => x.Nilai)]
            }
        ]
    };


    window.onload = function() {

        var option = {           
            scaleOverride: true,
            scaleSteps: 8,
            scaleStepWidth: 5,
            scaleStartValue: 0
        };
        var option80 = {           
            scaleOverride: true,
            scaleSteps: 16,
            scaleStepWidth: 5,
            scaleStartValue: 0
        };

        window.dimensiEmosiChart = new Chart(document.getElementById("dimensi-emosi-chart").getContext("2d")).Bar(dimensiEmosiData, option80);
        window.dimensiGayaBekerjaChart = new Chart(document.getElementById("dimensi-cara-gaya-bekerja-chart").getContext("2d")).Bar(dimensiGayaBekerjaData,option);
        window.dimensiPemikiranChart = new Chart(document.getElementById("dimensi-cara-gaya-pemikiran-chart").getContext("2d")).Bar(dimensiPemikiranData,option);
        window.dimensiHubunganInterpersonalChart = new Chart(document.getElementById("dimensi-hubungan-interpesonal-chart").getContext("2d")).Bar(dimensiHubunganInterpersonalData,option);
        window.dimensiPeribadiChart = new Chart(document.getElementById("dimensi-peribadi-chart").getContext("2d")).Bar(dimensiPeribadiData,option80);


        dimensiGayaBekerjaChart.datasets[0].bars[1].fillColor = "greenyellow";
        dimensiGayaBekerjaChart.datasets[0].bars[2].fillColor = "#98bde3";
        dimensiGayaBekerjaChart.datasets[0].bars[3].fillColor = "#98bde3";
        dimensiGayaBekerjaChart.update();

        setTimeout(function() {

            window.print();
        }, 1000);
    }

</script>
<div style="color: #98bde3"></div>
