@model web.sph.App_Code.HlpTraitViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">

    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;;overflow:hidden;word-break:normal;}
    .tg .tg-qgab{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#c0c0c0;color:#000000; border-color:#000; border-style:solid}
    .tg .tg-8rqm{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#1D1D1D;color:#ffffff;text-align:center; border-style:solid; border-color:#000}
    .tg .tg-vfu4{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#1D1D1D;color:#ffffff; border-style:solid; border-color: #000}
    .tg .tg-0raj{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#656565;color:#ffffff;text-align:center; border-style:solid; border-color:#000}
    .tg .tg-cjnz{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#c0c0c0; border-style:solid; border-color:#000}
    .tg .tg-wp0l{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:center; border-style:solid; border-color:#000}
    .tg .tg-ezxl{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#656565;color:#ffffff; border-style:solid; border-color:#000}
    .tg .tg-p0h7{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#c0c0c0;color:#333333;text-align:center; border-style:solid; border-color:#000}
    .tg .tg-or6l{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important; border-style:solid; border-color:#000}
    .tg .tg-l5nx{font-weight:bold;font-size:12px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#c0c0c0;color:#333333; border-style:solid; border-color:#000}
    .tg .tg-w82q{font-family:"Comic Sans MS", cursive, sans-serif !important;}

    .tr  {border-collapse:collapse;border-spacing:0;}
    .tr td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;;overflow:hidden;word-break:normal;}
    .tr th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;;overflow:hidden;word-break:normal;}
    .tr .tr-1to1{background-color:#c0c0c0;color:#c0c0c0; border-style:solid; border-color:#000}
    .tr .tr-4mn7{background-color:#ffffff;color:#000; border-style:solid; border-color:#000}
    .tr .tr-2g0z{background-color:#656565;color:#656565; border-style:solid; border-color:#000}
    .tr .tr-0onx{background-color:#1D1D1D;color:#1D1D1D; border-style:solid; border-color:#000}
    .tr .tr-01nx{border-style:none }

    .tq  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
    .tq td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
    .tq th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
    .tq.tq-j19f{font-weight:bold;background-color:#c0c0c0;color:#000000;text-align:center}

    </style>
</head>
<body>

<h4 align="center">LAPORAN UJIAN KHAS HADIAH LATIHAN PERSEKUTUAN<br>
 JABATAN PERKHIDMATAN AWAM
</h4>
<table align="center"   width="1000"><tr><td><strong>Nama Pegawai:</strong> </td><td></td>
<td></td>
<td></td><td></td><td></td><td></td><td></td><td></td><td><strong>No. Kad Pengenalan:</strong> </td><td></td><td></td></tr>
<tr><td><br></td></tr>
</table>
<table  border=1" bordercolor="#FFFFFF" align="center" width="949"class="tg table tabel-bordered">
  <tr align="center" >
    <th colspan="2" class="tg-031e"><div align="left"><strong>1.Kebolehpercayaan</strong></div></th>
    <th width="30" class="tg-8rqm" id="KB1">1</th>
    <th width="30" class="tg-8rqm" id="KB2">2</th>
    <th width="30" class="tg-8rqm" id="KB3">3</th>
    <th width="30" class="tg-8rqm" id="KB4">4</th>
    <th width="30" class="tg-8rqm" id="KB5">5</th>
    <th width="30" class="tg-0raj" id="KB6">6</th>
    <th width="30" class="tg-0raj" id="KB7">7</th>
    <th width="30" class="tg-0raj" id="KB8">8</th>
    <th width="30" class="tg-p0h7" id="KB9">9</th>
    <th width="30" class="tg-p0h7" id="KB10">10</th>
    <th width="30" class="tg-p0h7" id="KB11">11</th>
    <th width="30" class="tg-wp0l" id="KB12">12</th>
    <th width="30" class="tg-wp0l" id="KB13">13</th>
    <th width="30" class="tg-wp0l" id="KB14">14</th>
    <th width="30" class="tg-wp0l" id="KB15">15</th>
    <th colspan="5" ></th>
  </tr>
  <tr align="center">
    <td colspan="22" class="tg-031e"><div align="left"><strong>2.Pengurusan Pemikiran</strong></div></td>
  </tr>
 
  <tr align="center">
    <td colspan="2" class="tg-031e">    <div align="justify">(a) Berfikiran Rasional<strong></strong></div></td>
    <td width="30" id="FR5" class="tg-8rqm">5</td>
    <td width="30" id="FR10" class="tg-8rqm">10</td>
    <td width="30"  id="FR15" class="tg-8rqm">15</td>
    <td width="30"  id="FR20" class="tg-8rqm">20</td>
    <td width="30"  id="FR25" class="tg-8rqm">25</td>
    <td width="30"  id="FR30" class="tg-8rqm">30</td>
    <td width="30"  id="FR35" class="tg-8rqm">35</td>
    <td width="30"  id="FR40" class="tg-0raj">40</td>
    <td width="30"  id="FR45" class="tg-0raj">45</td>
    <td width="30"  id="FR50" class="tg-0raj">50</td>
    <td width="30"  id="FR55" class="tg-0raj">55</td>
    <td width="30"  id="FR60" class="tg-0raj">60</td>
    <td width="30"  id="FR65" class="tg-p0h7">65</td>
    <td width="30"  id="FR70" class="tg-p0h7">70</td>
    <td width="30"  id="FR75" class="tg-p0h7">75</td>
    <td width="30" class="tg-p0h7" id="FR80">80</td>
    <td width="30" class="tg-wp0l" id="FR85">85</td>
    <td width="30" class="tg-wp0l" id="FR90">90</td>
    <td width="30" class="tg-wp0l" id="FR95">95</td>
    <td   id="FR100" width="30"class="tg-wp0l">100</td>
  </tr>
  <tr align="center">
    <td colspan="22" class="tg-031e"><div align="left"><strong>3.Pengurusan Emosi</strong></div></td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">(a)Ketenangan</div></td>
    <td  width="30" id="KT5" class="tg-vfu4">5</td>
    <td width="30"  id="KT10" class="tg-vfu4">10</td>
    <td width="30"  id="KT15" class="tg-vfu4">15</td>
    <td width="30"  id="KT20" class="tg-vfu4">20</td>
    <td width="30"  id="KT25" class="tg-vfu4">25</td>
    <td width="30"  id="KT30" class="tg-ezxl">30</td>
    <td width="30"  id="KT35" class="tg-ezxl">35</td>
    <td width="30"  id="KT40" class="tg-ezxl">40</td>
    <td width="30"  id="KT45" class="tg-ezxl">45</td>
    <td width="30"  id="KT50" class="tg-ezxl">50</td>
    <td width="30"  id="KT55" class="tg-cjnz">55</td>
    <td width="30"  id="KT60" class="tg-cjnz">60</td>
    <td width="30"  id="KT65" class="tg-cjnz">65</td>
    <td width="30"  id="KT70" class="tg-cjnz">70</td>
    <td width="30"  id="KT75" class="tg-cjnz">75</td>
    <td width="30"  id="KT80" class="tg-cjnz">80</td>
    <td width="30"  id="KT85" class="tg-cjnz">85</td>
    <td width="30"  id="KT90" class="tg-or6l">90</td>
    <td width="30"  id="KT95" class="tg-or6l">95</td>
    <td id="KT100"width="30" class="tg-or6l">100</td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e">
      <div align="left">
        (b)Keceriaan
    </div></td>
    <td  width="30" id="KC5" class="tg-vfu4">5</td>
    <td  width="30" id="KC10" class="tg-vfu4">10</td>
    <td  width="30" id="KC15" class="tg-vfu4">15</td>
    <td  width="30" id="KC20" class="tg-vfu4">20</td>
    <td  width="30" id="KC25" class="tg-vfu4">25</td>
    <td  width="30" id="KC30" class="tg-ezxl">30</td>
    <td  width="30" id="KC35" class="tg-ezxl">35</td>
    <td  width="30" id="KC40" class="tg-ezxl">40</td>
    <td  width="30" id="KC45" class="tg-ezxl">45</td>
    <td  width="30" id="KC50" class="tg-ezxl">50</td>
    <td  width="30" id="KC55" class="tg-l5nx">55</td>
    <td  width="30" id="KC60" class="tg-l5nx">60</td>
    <td  width="30" id="KC65" class="tg-l5nx">65</td>
    <td  width="30" id="KC70" class="tg-l5nx">70</td>
    <td  width="30" id="KC75" class="tg-l5nx">75</td>
    <td  width="30" id="KC80" class="tg-l5nx">80</td>
    <td  width="30" id="KC85" class="tg-or6l">85</td>
    <td  width="30" id="KC90" class="tg-or6l">90</td>
    <td  width="30" id="KC95" class="tg-or6l">95</td>
    <td id="KC100"width="30" class="tg-or6l">100</td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">(c)Luahan  Perasaan</div></td>
    <td  width="30" id="LP5" class="tg-or6l">5</td>
    <td  width="30" id="LP10" class="tg-or6l">10</td>
    <td  width="30" id="LP15" class="tg-or6l">15</td>
    <td  width="30" id="LP20" class="tg-or6l">20</td>
    <td  width="30" id="LP25" class="tg-qgab">25</td>
    <td  width="30" id="LP30" class="tg-qgab">30</td>
    <td  width="30" id="LP35" class="tg-qgab">35</td>
    <td  width="30" id="LP40" class="tg-qgab">40</td>
    <td  width="30" id="LP45" class="tg-qgab">45</td>
    <td  width="30" id="LP50" class="tg-qgab">50</td>
    <td  width="30" id="LP55" class="tg-qgab">55</td>
    <td  width="30" id="LP60" class="tg-ezxl">60</td>
    <td  width="30" id="LP65" class="tg-ezxl">65</td>
    <td  width="30" id="LP70" class="tg-ezxl">70</td>
    <td  width="30" id="LP75" class="tg-ezxl">75</td>
    <td  width="30" id="LP80" class="tg-vfu4">80</td>
    <td  width="30" id="LP85" class="tg-vfu4">85</td>
    <td  width="30" id="LP90" class="tg-vfu4">90</td>
    <td  width="30" id="LP95" class="tg-vfu4">95</td>
    <td id="LP100"  width="30" class="tg-vfu4">100</td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">(d)Bersimpati</div></td>
    <td  width="30" id="SM5" class="tg-or6l">5</td>
    <td  width="30" id="SM10" class="tg-or6l">10</td>
    <td width="30"  id="SM15" class="tg-or6l">15</td>
    <td  width="30" id="SM20" class="tg-or6l">20</td>
    <td  width="30" id="SM25" class="tg-qgab">25</td>
    <td  width="30" id="SM30" class="tg-qgab">30</td>
    <td  width="30" id="SM35" class="tg-qgab">35</td>
    <td  width="30" id="SM40" class="tg-qgab">40</td>
    <td  width="30" id="SM45" class="tg-qgab">45</td>
    <td  width="30" id="SM50" class="tg-qgab">50</td>
    <td  width="30" id="SM55" class="tg-qgab">55</td>
    <td  width="30" id="SM60" class="tg-qgab">60</td>
    <td  width="30" id="SM65" class="tg-ezxl">65</td>
    <td  width="30" id="SM70" class="tg-ezxl">70</td>
    <td  width="30" id="SM75" class="tg-ezxl">75</td>
    <td  width="30" id="SM80" class="tg-vfu4">80</td>
    <td  width="30" id="SM85" class="tg-vfu4">85</td>
    <td  width="30" id="SM90" class="tg-vfu4">90</td>
    <td width="30"  id="SM95" class="tg-vfu4">95</td>
    <td id="SM100"  width="30" class="tg-vfu4">100</td>
  </tr>
  <tr>
    <td colspan="22" class="tg-031e"><strong>4.Pengurusan Tingkah Laku</strong></td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">    (a) Aktif Sosial</div></td>
    <td width="30"  id="AS5" class="tg-or6l">5</td>
    <td  width="30" id="AS10" class="tg-or6l">10</td>
    <td  width="30" id="AS15" class="tg-or6l">15</td>
    <td width="30"  id="AS20" class="tg-qgab">20</td>
    <td  width="30" id="AS25" class="tg-qgab">25</td>
    <td  width="30" id="AS30" class="tg-qgab">30</td>
    <td  width="30" id="AS35" class="tg-qgab">35</td>
    <td  width="30" id="AS40" class="tg-qgab">40</td>
    <td  width="30" id="AS45" class="tg-ezxl">45</td>
    <td  width="30" id="AS50" class="tg-ezxl">50</td>
    <td width="30"  id="AS55" class="tg-ezxl">55</td>
    <td  width="30" id="AS60" class="tg-ezxl">60</td>
    <td  width="30" id="AS65" class="tg-ezxl">65</td>
    <td width="30"  id="AS70" class="tg-vfu4">70</td>
    <td  width="30" id="AS75" class="tg-vfu4">75</td>
    <td  width="30" id="AS80" class="tg-vfu4">80</td>
    <td  width="30" id="AS85" class="tg-vfu4">85</td>
    <td  width="30" id="AS90" class="tg-vfu4">90</td>
    <td  width="30" id="AS95" class="tg-vfu4">95</td>
    <td id="AS100" width="30"class="tg-vfu4">100</td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">(b)              Bersikap Asertif</div></td>
    <td  width="30" id="AF5" class="tg-or6l">5</td>
    <td  width="30" id="AF10" class="tg-or6l">10</td>
    <td  width="30" id="AF15" class="tg-or6l">15</td>
    <td  width="30" id="AF20" class="tg-qgab">20</td>
    <td  width="30" id="AF25" class="tg-qgab">25</td>
    <td  width="30" id="AF30" class="tg-qgab">30</td>
    <td  width="30" id="AF35" class="tg-qgab">35</td>
    <td  width="30" id="AF40" class="tg-qgab">40</td>
    <td  width="30" id="AF45" class="tg-ezxl">45</td>
    <td  width="30" id="AF50" class="tg-ezxl">50</td>
    <td  width="30" id="AF55" class="tg-ezxl">55</td>
    <td  width="30" id="AF60" class="tg-ezxl">60</td>
    <td  width="30" id="AF65" class="tg-vfu4">65</td>
    <td  width="30" id="AF70" class="tg-vfu4">70</td>
    <td  width="30" id="AF75" class="tg-vfu4">75</td>
    <td  width="30" id="AF80" class="tg-vfu4">80</td>
    <td  width="30" id="AF85" class="tg-vfu4">85</td>
    <td  width="30" id="AF90" class="tg-vfu4">90</td>
    <td  width="30" id="AF95" class="tg-vfu4">95</td>
    <td id="AF100" width="30"class="tg-vfu4">100</td>
  </tr>
  <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">(c)
    Bertoleransi</div></td>
    <td  width="30" id="TL5" class="tg-vfu4">5</td>
    <td  width="30" id="TL10" class="tg-vfu4">10</td>
    <td width="30"  id="TL15" class="tg-vfu4">15</td>
    <td  width="30" id="TL20" class="tg-vfu4">20</td>
    <td  width="30" id="TL25" class="tg-vfu4">25</td>
    <td  width="30" id="TL30" class="tg-vfu4">30</td>
    <td  width="30" id="TL35" class="tg-ezxl">35</td>
    <td  width="30" id="TL40" class="tg-ezxl">40</td>
    <td  width="30" id="TL45" class="tg-ezxl">45</td>
    <td  width="30" id="TL50" class="tg-ezxl">50</td>
    <td  width="30" id="TL55" class="tg-cjnz">55</td>
    <td  width="30" id="TL60" class="tg-cjnz">60</td>
    <td  width="30" id="TL65" class="tg-cjnz">65</td>
    <td  width="30" id="TL70" class="tg-cjnz">70</td>
    <td  width="30" id="TL75" class="tg-cjnz">75</td>
    <td  width="30" id="TL80" class="tg-or6l">80</td>
    <td  width="30" id="TL85" class="tg-or6l">85</td>
    <td  width="30" id="TL90" class="tg-or6l">90</td>
    <td  width="30" id="TL95" class="tg-or6l">95</td>
    <td id="TL100" width="30"class="tg-or6l">100</td>
  </tr>
 <tr align="center">
    <td colspan="2" class="tg-031e"><div align="left">(d) Daya Tahan</div></td>
    <td  width="30" id="DT5"  class="tg-or6l">5</td>
    <td  width="30" id="DT10" class="tg-or6l">10</td>
    <td  width="30" id="DT15" class="tg-or6l">15</td>
    <td  width="30" id="DT20" class="tg-or6l">20</td>
    <td  width="30" id="DT25" class="tg-or6l">25</td>
    <td  width="30" id="DT30" class="tg-or6l">30</td>
    <td  width="30" id="DT35" class="tg-or6l">35</td>
    <td  width="30" id="DT40" class="tg-or6l">40</td>
    <td  width="30" id="DT45" class="tg-or6l">45</td>
    <td  width="30" id="DT50" class="tg-or6l">50</td>
    <td  width="30" id="DT55" class="tg-cjnz">55</td>
    <td width="30"  id="DT60" class="tg-cjnz">60</td>
    <td  width="30" id="DT65" class="tg-cjnz">65</td>
    <td  width="30" id="DT70" class="tg-ezxl">70</td>
    <td  width="30" id="DT75" class="tg-ezxl">75</td>
    <td  width="30" id="DT80" class="tg-ezxl">80</td>
    <td  width="30" id="DT85" class="tg-vfu4">85</td>
    <td width="30"id="DT90" class="tg-vfu4">90</td>
    <td width="30"id="DT95" class="tg-vfu4">95</td>
    <td id="DT100"width="30" class="tg-vfu4">100</td>
  </tr>
 
<tr align="center">
    <td colspan="22" class="tg-031e"><div align="left"><strong></strong></div></td>
  </tr>
</table>

<table  border="1" bordercolor="#FFFFFF" align="center" class="tr">
  <tr>
    <th     width="75" class="tr-4mn7">&nbsp;</th>
    <th     width="75" class="tr-1to1">&nbsp;</th>
    <th     width="75" class="tr-2g0z">&nbsp;</th>
    <th     width="75" class="tr-0onx">&nbsp;</th>
  </tr>
  <tr>
    <td class="tr-4mn7"><div align="center">Rendah</div></td>
    <td class="tr-4mn7"><div align="center">Sederhana<br>Rendah</div></td>
    <td class="tr-4mn7"><div align="center">Sederhana <br>Tinggi</div></td>
    <td class="tr-4mn7"><div align="center">Tinggi</div></td>
    <td class="tr-01nx"><div align="center"></div></td>
  </tr>
  <tr><td class="tr-01nx"><div align="center"></div></td></tr>
 
  
</table>

<table width="1000" border="1" align="center" class="table table-striped">

  <tr>
    <th width="193" class="tq-j19f"><strong>Tret</strong></th>
    <th width="129" class="tq-j19f"><strong>Tahap</strong></th>
    <th width="662" class="tq-j19f"><strong>Ulasan</strong></th>
  </tr>
  <tr>
    <td class="tq-031e">Kebolehpercayaan</td>
    <td class="tq-031e">@Model.KB.Skor</td>
    <td class="tq-031e">@Model.KB.Recommendation</td>
  </tr>
  <tr>
    <td class="tq-031e">Berfikiran Rasional</td>
    <td class="tq-031e">@Model.FR.Skor</td>
    <td class="tq-031e">@Model.FR.Recommendation</td>
  </tr>
  <tr>
    <td class="tq-031e">Ketenangan</td>
    <td class="tq-031e">@Model.KT.Skor</td>
    <td class="tq-031e">@Model.KT.Recommendation</td>
  </tr>
  <tr>
    <td class="tq-031e">Keceriaan</td>
    <td class="tq-031e">@Model.KC.Skor</td>
    <td class="tq-031e">@Model.KC.Recommendation</td>
  </tr>
  <tr>
    <td class="tq-031e">Luahan Perasaan</td>
    <td class="tq-031e">@Model.LP.Skor</td>
    <td class="tq-031e">@Model.LP.Recommendation</td>
  </tr>
  <tr>
    <td class="tq-031e">Bersimpati</td>
    <td class="tq-031e">@Model.SM.Skor</td>
    <td class="tq-031e">@Model.SM.Recommendation</td>
  </tr>
  <tr>
    <td class="tg-031e">Aktif Sosial</td>
    <td class="tq-031e">@Model.AS.Skor</td>
    <td class="tq-031e">@Model.AS.Recommendation</td>
  </tr>
  <tr>
    <td class="tg-031e">Bersikap Asertif</td>
    <td class="tq-031e">@Model.AF.Skor</td>
    <td class="tq-031e">@Model.AF.Recommendation</td>
  </tr>
  <tr>
    <td class="tg-031e">Bertoleransi</td>
    <td class="tq-031e">@Model.TL.Skor</td>
    <td class="tq-031e">@Model.TL.Recommendation</td>
  </tr>

</table>
</body>
</html>

<script type="text/javascript">
    var vm = @Html.Raw(Model.ToString());
    window.onload = function() {

            document.getElementById("KB" + vm.KB.Point).setAttribute("style", "border:3px solid red");
            document.getElementById("FR" + vm.FR.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("KT" + vm.KT.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("KC" + vm.KC.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("LP" + vm.LP.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("SM" + vm.SM.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("AS" + vm.AS.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("AF" + vm.AF.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("TL" + vm.TL.Percentile).setAttribute("style", "border:3px solid red");
            document.getElementById("DT" + vm.DT.Percentile).setAttribute("style", "border:3px solid red");
};

</script>

</body>
</html>
