@model web.sph.App_Code.IbkTraitViewModel
@{
    Layout = "_MasterPage.cshtml";
}
@section head
{
    <style>
        h4 {
            font-size: medium;
			font-weight: bold;
        }
        table.table-bordered td {
            font-size: medium;
        }
    </style>
}
@section Peringatan{
    @Html.Partial("_peringatan.ibk")
}



<div style="height:20px"></div>

<style>
#grad1 {
    border-radius: 25px;
    border: 0px solid #73AD21;
    background: #FFBFBF !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FCF2F2, #FFBFBF) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FCF2F2, #FFBFBF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FCF2F2, #FFBFBF) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FCF2F2, #FFBFBF) !important; /* Standard syntax (must be last) */
}
#grad2 {
	  border-radius: 25px;
    border: 0px solid #73AD21;
    height: 150px;
    background: #b3ffb3 !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F2FAF2, #b3ffb3) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2FAF2, #b3ffb3) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2FAF2, #b3ffb3) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2FAF2, #b3ffb3) !important; /* Standard syntax (must be last) */
}
#grad3 {
	  border-radius: 25px;
    border: 0px solid #73AD21;
    height: 150px;
    background: #EBCCEB !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FAF2FA, #EBCCEB) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FAF2FA, #EBCCEB) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FAF2FA, #EBCCEB) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FAF2FA, #EBCCEB) !important; /* Standard syntax (must be last) */
}
#grad4 {
	  border-radius: 25px;
    border: 0px solid #73AD21;
    height:150px;
    background:  #CCE6FF !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F0F7FF, #CCE6FF) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F0F7FF, #CCE6FF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F0F7FF, #CCE6FF) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F0F7FF, #CCE6FF) !important; /* Standard syntax (must be last) */
}
#grad5 {
	  border-radius: 10px;
    border: 0px solid #73AD21;
    height: 50px;
    background: #FFCC99 !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF0E0, #FFCC99) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF0E0, #FFCC99) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF0E0, #FFCC99) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF0E0, #FFCC99) !important; /* Standard syntax (must be last) */
}
</style>
<table  align="center" id=grad1>
   <colgroup>
		<col style="width: 10px"/>
        <col style="width: 400px"/>
        <col style="width: 400px"/>
    </colgroup>
  </tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
    <tr >
		<th></th>
        <th>MINAT KERJAYA</th>
        <th>KOD KERJAYA</th>    
    </tr>
    <tr>
		<td></td>
        <td>@Model.IbkKodKerjaya.KodKerjayaAnda</td> 
        <td>@Model.KodKerjaya</td>
    </tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<table   class="table table-bordered table-condensed" align="center" style="70%">
<h4>Graf:Minat Utama</h4>
<tr align="center"><td><b>SKOR PIAWAI & TAHAP MINAT</b></td></tr>
<tr>
<td valign="top" ><b></b><br><canvas id="dimensi-minat-chart" width="600" height="250" ></canvas></td>

</tr>

</table>
<table  align="center" style="70%" id=grad4>

    <colgroup>
        <col style="width: 400px"/>
        <col style="width: 400px"/>
    </colgroup>

      
    <tr>
        <th>Pilihan Kerjaya</th>
        <th>Bidang Pengajian</th>    
    </tr>

    <tr>
        <td>
            <ul>
                @foreach (var t in Model.IbkRecommendation.KerjayaCollection.Take(3))
                {
                    <li>@t.Text</li>
                }
            </ul>
        </td>
        
        <td>
            <ul>
                @foreach (var t in Model.IbkRecommendation.BidangPengajianCollection.Take(3))
                {
                    <li>@t.Text</li>
                }
            </ul>
        </td>
       

    </tr>

</table>

<div style="height:20px"></div>
<p style="page-break-after:always;"></p>
		<col style="width: 20px"/>
        <col style="width: 80px"/>
		<col style="width: 20px"/>

<table id=grad5>
  	<tr>
	<td></td>
	<td style="vertical-align: middle">Kategori Kerjaya:<b>@Model.IbkKodKerjaya.KodKerjayaAnda (@Model.IbkKodKerjaya.Kod)</b></td>
	<td></td>
	</tr>
</table>
<br>
<table align="center" style="70%" id=grad3>
    <colgroup>
		<col style="width: 20px"/>
        <col style="width: 800px"/>
		<col style="width: 20px"/>
    </colgroup>
    <tbody>
	<tr>
		<td></td>
		<td><b>Penerangan:</b></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
        <td style="text-align: justify">@Html.Raw(Model.IbkKodKerjaya.Text.Replace("\n\n", "</p><p>"))</td>
		<td></td>
    </tr>
    </tbody>
</table>
<br>
<table align="center" style="70%" id=grad4>
        <colgroup>
		<col style="width: 20px"/>
        <col style="width: 390px"/>
		<col style="width: 20px"/>
        <col style="width: 390px"/>
		<col style="width: 20px"/>
    </colgroup>
		<tr>
			<td></td>
			<td align="center"><b>Alternatif Pilihan Kerjaya</b></td>
			<td></td>
			<td align="center"><b>Alternatif Bidang Pengajian</b></td>
			<td></td>	
		</tr>

        <tr>
		<td></td>
		<td>
		@for (int i = 0; i < Model.IbkKodKerjaya.AlternatifPilihanKerjayaCollection.Count; i++)
    {
        var v1 = "";
        var v2 = "";
        var v3 = "";
        //var length = Model.IbkKodKerjaya.AlternatifPilihanKerjayaCollection.Count;

        try
        {
            v1 = Model.IbkKodKerjaya.AlternatifPilihanKerjayaCollection[i].Text;
            //v2 = Model.IbkKodKerjaya.AlternatifPilihanKerjayaCollection[i + 2].Text;
            //v3 = Model.IbkKodKerjaya.AlternatifPilihanKerjayaCollection[i + 3].Text;
        }
        catch (ArgumentOutOfRangeException)
        {
            Console.WriteLine();
        }
           <li>@v1</li>}
			</td>
			
          <td>&nbsp;&nbsp</td>
		  
		  <td>
		  @for (int i = 0; i < Model.IbkKodKerjaya.AlternatifBidangPengajianCollection.Count; i++)
    {

        var y1 = "";
        //var y2 = "";
        //var y3 = "";

        try
        {
            y1 = Model.IbkKodKerjaya.AlternatifBidangPengajianCollection[i].Text;
           // y2 = Model.IbkKodKerjaya.AlternatifBidangPengajianCollection[i + 2].Text;
           // y3 = Model.IbkKodKerjaya.AlternatifBidangPengajianCollection[i + 3].Text;
        }
        catch (ArgumentOutOfRangeException)
        {
            Console.WriteLine();
        }
		 <li>@y1</li>}
		 </td>
		 <td></td>
        </tr>
</table>


<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/Chart.HorizontalBar.js"></script>
<script type="text/javascript">
    var ibk = @Html.Raw(Model.ToString());
	var F = parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "F1").Sum(x => x.Nilai))+ parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "F2").Sum(x => x.Nilai))+parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "F3").Sum(x => x.Nilai));
	var E = parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "E1").Sum(x => x.Nilai))+ parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "E2").Sum(x => x.Nilai))+parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "E3").Sum(x => x.Nilai));
	var D = parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "D1").Sum(x => x.Nilai))+ parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "D2").Sum(x => x.Nilai))+parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "D3").Sum(x => x.Nilai));
	var C = parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "C1").Sum(x => x.Nilai))+ parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "C2").Sum(x => x.Nilai))+parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "C3").Sum(x => x.Nilai));
	var B = parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B1").Sum(x => x.Nilai))+ parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B2").Sum(x => x.Nilai))+parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "B3").Sum(x => x.Nilai));
	var A = parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "A1").Sum(x => x.Nilai))+ parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "A2").Sum(x => x.Nilai))+parseInt(@Model.Sesi.JawapanCollection.Where(x => x.Trait == "A3").Sum(x => x.Nilai));

	
    var dimensiMinatUtama = {
	
	
        labels: ["TRADISI(T) (" + F +") ", "INOVATIF(I) (" + E +") ","MUDAH MESRA(M) (" + D +") ", "KREATIF(K) (" + C +") ","EKPLORASI(E) (" + B +") ","PRAKTIKAL(P) (" + A +") "],
        datasets: [
            {
                labels: "SKOR PIAWAI DAN TAHAP MINAT",
                fillColor: "  #FFBFBF",
                strokeColor: "red",
                pointColor: "ref",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#88ff4d",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [ F,E,D,C,B,A]
            }
        ]
    };
	  window.onload = function() {

      
        var option80 = {           
            scaleOverride: true,
            scaleSteps: 7,
            scaleStepWidth: 10,
            scaleStartValue: 0
        };
		
	 window.dimensiMinatChart = new Chart(document.getElementById("dimensi-minat-chart").getContext("2d")).HorizontalBar(dimensiMinatUtama, option80);
 
        setTimeout(function() {

            window.print();
        }, 1000);
    }
</script>
<div style="color: #98bde3"></div>