@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = "_MasterPage.cshtml";
}

<div style="height:40px"></div>



<table class="table table-bordered table-condensed" align="center" style="70%">
    <colgroup>
        <col style="width: 300px"/>
        <col style="width: 300px"/>
    </colgroup>
  <tr>
    <th>Dimensi</th>
    <th>Personaliti</th>
  <tr>
    <td>Hubungan Interpersonal</td>
   
    <td>@Model.Recommendation.HubunganInterpersonal</td>
  </tr>
  <tr>
    <td>Memperoleh Maklumat</td>
  
    <td>@Model.Recommendation.MemperolehMaklumat</td>
  </tr>
  <tr>
    <td>Membuat Keputusan</td>
   
    <td>@Model.Recommendation.MembuatKeputusan</td>
  </tr>
  <tr>
    <td>Cara Gaya Kehidupan</td>
    
    <td>@Model.Recommendation.CaraGayaKehidupan</td>
  </tr>
  </table>

<div style="height:30px"></div>
  
  <table class="">
  <colgroup>
    <col style="width:180px"/>
    <col style="width:20px"/>
    <col style="width:600px"/>
  </colgroup>
  
  <tr>
    <td style="vertical-align:top">Perwatakan</td>
    <td style="vertical-align:top">:</td>
    <td style="text-align:justify">@Html.Raw(Model.Recommendation.Perwatakan)</td>
  </tr>
  <tr>
    <td style="vertical-align:top">Pekerjaan</td>
    <td style="vertical-align:top">:</td>
    <td style="text-align:justify">@Html.Raw(Model.Recommendation.Pekerjaan)</td>
  </tr>
  <tr>
    <td style="vertical-align:top">Pengurusan Perubahan</td>
    <td style="vertical-align:top">:</td>
    <td style="text-align:justify">@Html.Raw(Model.Recommendation.PengurusanPerubahan)</td>
  </tr>
  <tr>
    <td style="vertical-align:top">Kepimpinan</td>
    <td style="vertical-align:top">:</td>
    <td style="text-align:justify">@Html.Raw(Model.Recommendation.Kepimpinan)</td>
  </tr>
  <tr>
    <td style="vertical-align:top">Persepsi Orang Lain</td>
    <td style="vertical-align:top">:</td>
    <td style="text-align:justify">@Html.Raw(Model.Recommendation.PersepsiOrangLain)</td>
  </tr>
  <tr>
    <td style="vertical-align:top">Reaksi Terhadap Stres</td>
    <td style="vertical-align:top">:</td>
    <td style="text-align:justify">@Html.Raw(Model.Recommendation.ReaksiTerhadapStres)</td>
  </tr>

</table>

<script type="text/javascript">

	window.print();
</script>
