@model web.sph.App_Code.HlpTraitViewModel

@using Bespoke.epsikologi_skorhlp.Domain
@using web.sph.App_Code
@{
    Layout = "_MasterPage.NoHeader.cshtml";

}
@section head
{
    <style type="text/css">
        table {
            font-size: 10px;
        }

            table.table-bordered2 td, th {
                border: 1px solid #000000;
                padding: 2px;
            }

            table.table-bordered2 th {
                text-align: center;
                background-color: lightskyblue;
            }

            table#bahagian-a {
                border-spacing: 5px;
                border-collapse: separate;
                width: 100%;
            }

        h1 {
            font-size: small;
            font-weight: bold;
            text-align: center;
        }

        td.header {
            font-weight: bold;
        }


        td.label {
            font-size: 10px;
            font-weight: bold;
            color: #000000;
        }
    </style>
}




@helper DisplayRow(int start, int max, int step, string trait, string no, SkorHlp skor, string header = null, string useRawScore = null)
{
var column = 20;
var headerText = header ?? trait;
    <tr>
        @if (!string.IsNullOrEmpty(no))
        {

            <td class="header">@no</td>
            <td class="header">@headerText</td>
        }
        else
        {
            <td></td>
            <td>@headerText</td>
        }

        @for (var i = start; i <= max; i += step)
        {
            column--;
            var td = Model.TdCollection.SingleOrDefault(x => x.Tret == trait && x.Value == i);
            var on = skor.Percentile == i ? "-on" : "";
            if (null == td)
            {
                throw new Exception($"Cannot find {i}");
            }
            if (!string.IsNullOrWhiteSpace(useRawScore))
            {
                var raw = Model.Sesi.JawapanCollection.Where(x => x.Trait == useRawScore).Sum(x => x.Nilai);
                raw = raw == 0 ? 1 : raw;
                on = i == raw ? "-on" : "";
            }
            <td>
                <img alt="@i" src="/images/Hlp/@(td.Image)@(on).png" id="kby-@i" />
            </td>
        }


        @if (column > 0)
        {
            <td colspan="@column"></td>
        }
    </tr>

}

<h1 style="margin-top: 0px">LAPORAN UJIAN KHAS HADIAH LATIHAN PERSEKUTUAN JABATAN PERKHIDMATAN AWAM</h1>
<table >
    <colgroup>
        <col style="width: 12%" />
        <col style="width: 17%" />
        <col style="width: 5%" />
        <col style="width: 17%" />
        <col style="width: 17%" />
        <col style="width: 17%" />
        <col style="width: 17%" />
    </colgroup>
    <tr>
        <td class="header">Nama Calon :</td>
        <td>@Model.Pengguna.Nama</td>
        <td></td>
        <td class="header">No. Kad Pengenalan :</td>
        <td>@Model.Pengguna.MyKad</td>
        <td></td>
        <td></td>
    </tr>
</table>
<div style="height: 10px"></div>
<table id="bahagian-a">
    <colgroup>
        <col style="width: 20px" />
        <col style="width: 200px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
    </colgroup>
    @DisplayRow(1, 15, 1, HlpTraitViewModel.KEBOLEHPERCAYAAN, "1", Model.KBY, null, "KB")



    <tr>
        <td class="header">2</td>
        <td class="header">Pengurusan Pemikiran</td>
        <td colspan="20"></td>
    </tr>
    @DisplayRow(5, 100, 5, HlpTraitViewModel.BERFIKIRAN_RASIONAL, "", Model.RAS, "(a) Berfikiran Rasional")


    <tr>
        <td class="header">3</td>
        <td class="header">Pengurusan Emosi</td>
        <td colspan="20"></td>
    </tr>

    @DisplayRow(5, 100, 5, HlpTraitViewModel.KETENANGAN, "", Model.KTG, "(a) Ketenangan")
    @DisplayRow(5, 100, 5, HlpTraitViewModel.KECERIAAN, "", Model.KCN, "(b) Keceriaan")
    @DisplayRow(5, 100, 5, HlpTraitViewModel.LUAHAN_PERASAAN, "", Model.LPN, "(c) Luahan Perasaan")
    @DisplayRow(5, 100, 5, HlpTraitViewModel.BERSIMPATI, "", Model.SIM, "(d) Bersimpati")




    <tr>
        <td class="header">4</td>
        <td class="header">Pengurusan Tingkah Laku</td>
        <td colspan="20"></td>
    </tr>
    @DisplayRow(5, 100, 5, HlpTraitViewModel.AKTIF_SOSIAL, "", Model.AKS, "(a) Aktif Sosial")
    @DisplayRow(5, 100, 5, HlpTraitViewModel.BERSIKAP_ASERTIF, "", Model.ASF, "(b) Bersikap Asertif")
    @DisplayRow(5, 100, 5, HlpTraitViewModel.BERTOLERANSI, "", Model.TOL, "(c) Bertoleransi")
    @DisplayRow(5, 100, 5, HlpTraitViewModel.DAYA_TAHAN, "", Model.DTY, "(d) Daya Tahan")

</table>

<table>
    <colgroup>
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
    </colgroup>
    <tr>
        <td style="text-align: center"><img alt="Rendah" src="~/images/Hlp/VeryLight-0.png" /></td>
        <td style="text-align: center"><img alt="Rendah" src="~/images/Hlp/Light-0.png" /></td>
        <td style="text-align: center"><img alt="Rendah" src="~/images/Hlp/Dark-0.png" /></td>
        <td style="text-align: center"><img alt="Rendah" src="~/images/Hlp/VeryDark-0.png" /></td>
    </tr>
    <tr>
        <td style="vertical-align: top;text-align: center" class="border">Rendah</td>
        <td style="text-align: center" class="bordered">Sederhana Rendah</td>
        <td style="text-align: center">Sederhana Tinggi</td>
        <td style="text-align: center;vertical-align: top">Tinggi</td>
    </tr>
</table>



<div style="height: 10px"></div>

<table style="border-collapse: collapse; border: 0.5px solid #000000; width: 100%" class="table-bordered2">
    <colgroup>
        <col style="width: 18%" />
        <col style="width: 12%" />
        <col style="width: 70%" />
    </colgroup>
    <thead>
        <tr>
            <th>Tret</th>
            <th>Tahap</th>
            <th>Ulasan</th>
        </tr>
    </thead>
    <tr>
        <td>Kebolehpercayaan</td>
        <td>@Model.KBY.Skor</td>
        <td>@Model.RecommendationKBY.Text</td>
    </tr>
    <tr>
        <td>Ketenangan</td>
        <td>@Model.KTG.Skor</td>
        <td>@Model.RecommendationKTG.Text</td>
    </tr>
    <tr>
        <td>Keceriaan</td>
        <td>@Model.KCN.Skor</td>
        <td>@Model.RecommendationKCN.Text</td>
    </tr>
    <tr>
        <td>Luahan Perasaan</td>
        <td>@Model.LPN.Skor</td>
        <td>@Model.RecommendationLPN.Text</td>
    </tr>
    <tr>
        <td>Bersimpati</td>
        <td>@Model.SIM.Skor</td>
        <td>@Model.RecommendationSIM.Text</td>
    </tr>
    <tr>
        <td>Berfikiran Rasional</td>
        <td>@Model.RAS.Skor</td>
        <td>@Model.RecommendationRAS.Text</td>
    </tr>
    <tr>
        <td>Aktif Sosial</td>
        <td>@Model.AKS.Skor</td>
        <td>@Model.RecommendationAKS.Text</td>
    </tr>
    <tr>
        <td>Bersikap Asertif</td>
        <td>@Model.ASF.Skor</td>
        <td>@Model.RecommendationASF.Text</td>
    </tr>
    <tr>
        <td>Bertoleransi</td>
        <td>@Model.TOL.Skor</td>
        <td>@Model.RecommendationTOL.Text</td>
    </tr>


    <tr>
        <td>Daya Tahan</td>
        <td>@Model.DTY.Skor</td>
        <td>@Model.RecommendationDT.Text</td>
    </tr>
</table>

<script type="text/javascript">

    window.print();
</script>
