@model Bespoke.epsikologi_sesiujian.Domain.SesiUjian
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.NamaPengguna</h1>
	<div class="row">
		<label class="col-md-4">Nama Pegawai :</label>
		<strong class="col-md-8">@Model.NamaPengguna :</strong>
	</div>
	<div class="row">
		<label class="col-md-4">No KP Pegawai :</label>
		<strong class="col-md-8">@Model.MyKad</strong>
	</div>
	<div class="row">
		<label class="col-md-4">Tempat Bertugas :</label>
		<strong class="col-md-8">@Model.MyKad</strong>
	</div>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-gjsp{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#00009b;text-align:center}
.tg .tg-ng1t{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;text-align:center}
.tg .tg-t6fk{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#ffffff;text-align:center}
.tg .tg-ex6j{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#34cdf9;text-align:center}
.tg .tg-7poc{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#02025e;text-align:center}
.tg .tg-bn76{font-weight:bold;font-size:11px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#3166ff;text-align:center}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1029px">
<colgroup>
<col style="width: 21px">
<col style="width: 88px">
<col style="width: 81px">
<col style="width: 90px">
<col style="width: 98px">
<col style="width: 90px">
<col style="width: 99px">
<col style="width: 86px">
<col style="width: 102px">
<col style="width: 81px">
<col style="width: 130px">
<col style="width: 21px">
<col style="width: 21px">
<col style="width: 21px">
</colgroup>
  <tr>
    <th class="tg-ng1t" colspan="14"></th>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-t6fk">Kebimbangan</td>
    <td class="tg-t6fk">Kemurungan</td>
    <td class="tg-t6fk">Aktif <br>Sosial</td>
    <td class="tg-t6fk">Luahan <br>Perasaan</td>
    <td class="tg-t6fk">Bersimpati</td>
    <td class="tg-t6fk">Pemikiran <br>Emotif</td>
    <td class="tg-t6fk">Asertif</td>
    <td class="tg-t6fk">Persengketaan</td>
    <td class="tg-t6fk">Bersikap <br>Sistematik</td>
    <td class="tg-t6fk">Kebolehpercayaan:<br>Diragui</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t" colspan="14"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-ex6j">100</td>
    <td class="tg-ex6j">100</td>
    <td class="tg-7poc">100</td>
    <td class="tg-7poc">100</td>
    <td class="tg-7poc">100</td>
    <td class="tg-ex6j">100</td>
    <td class="tg-bn76">100</td>
    <td class="tg-ex6j">100</td>
    <td class="tg-ex6j">100</td>
    <td class="tg-ng1t" rowspan="5"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t" rowspan="6"></td>
    <td class="tg-ex6j">95</td>
    <td class="tg-ex6j">95</td>
    <td class="tg-7poc">95</td>
    <td class="tg-7poc">95</td>
    <td class="tg-7poc">95</td>
    <td class="tg-ex6j">95</td>
    <td class="tg-gjsp">95</td>
    <td class="tg-ex6j">95</td>
    <td class="tg-bn76">95</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ex6j">90</td>
    <td class="tg-ex6j">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-ex6j">90</td>
    <td class="tg-7poc">90</td>
    <td class="tg-ex6j">90</td>
    <td class="tg-bn76">90</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-bn76">85</td>
    <td class="tg-ex6j">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-ex6j">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-ex6j">85</td>
    <td class="tg-7poc">85</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-bn76">80</td>
    <td class="tg-bn76">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-bn76">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-ex6j">80</td>
    <td class="tg-7poc">80</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-bn76">75</td>
    <td class="tg-bn76">75</td>
    <td class="tg-7poc">75</td>
    <td class="tg-gjsp">75</td>
    <td class="tg-gjsp">75</td>
    <td class="tg-bn76">75</td>
    <td class="tg-7poc">75</td>
    <td class="tg-bn76">75</td>
    <td class="tg-7poc">75</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-bn76">70</td>
    <td class="tg-bn76">70</td>
    <td class="tg-7poc">70</td>
    <td class="tg-gjsp">70</td>
    <td class="tg-gjsp">70</td>
    <td class="tg-bn76">70</td>
    <td class="tg-7poc">70</td>
    <td class="tg-bn76">70</td>
    <td class="tg-7poc">70</td>
    <td class="tg-ex6j">14</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-bn76">65</td>
    <td class="tg-bn76">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-bn76">65</td>
    <td class="tg-7poc">65</td>
    <td class="tg-bn76">65</td>
    <td class="tg-gjsp">65</td>
    <td class="tg-ex6j">13</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-bn76">60</td>
    <td class="tg-bn76">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-7poc">60</td>
    <td class="tg-bn76">60</td>
    <td class="tg-gjsp">60</td>
    <td class="tg-ex6j">12</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-bn76">55</td>
    <td class="tg-bn76">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-bn76">55</td>
    <td class="tg-gjsp">55</td>
    <td class="tg-bn76">11</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-gjsp">50</td>
    <td class="tg-bn76">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-bn76">50</td>
    <td class="tg-bn76">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-gjsp">50</td>
    <td class="tg-bn76">10</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-gjsp">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-bn76">45</td>
    <td class="tg-bn76">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-gjsp">45</td>
    <td class="tg-bn76">9</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-gjsp">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-bn76">40</td>
    <td class="tg-bn76">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-gjsp">40</td>
    <td class="tg-bn76">40</td>
    <td class="tg-gjsp">8</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-gjsp">35</td>
    <td class="tg-gjsp">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-7poc">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-gjsp">35</td>
    <td class="tg-bn76">35</td>
    <td class="tg-gjsp">7</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-gjsp">30</td>
    <td class="tg-gjsp">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-7poc">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-gjsp">30</td>
    <td class="tg-bn76">30</td>
    <td class="tg-gjsp">6</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-7poc">25</td>
    <td class="tg-gjsp">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-7poc">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-7poc">25</td>
    <td class="tg-bn76">25</td>
    <td class="tg-gjsp">5</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-7poc">20</td>
    <td class="tg-7poc">20</td>
    <td class="tg-bn76">20</td>
    <td class="tg-ex6j">20</td>
    <td class="tg-ex6j">20</td>
    <td class="tg-7poc">20</td>
    <td class="tg-bn76">20</td>
    <td class="tg-7poc">20</td>
    <td class="tg-ex6j">20</td>
    <td class="tg-7poc">4</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-7poc">15</td>
    <td class="tg-7poc">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-7poc">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-7poc">15</td>
    <td class="tg-ex6j">15</td>
    <td class="tg-7poc">3</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-7poc">10</td>
    <td class="tg-7poc">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-gjsp">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-7poc">10</td>
    <td class="tg-ex6j">10</td>
    <td class="tg-7poc">2</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-7poc">5</td>
    <td class="tg-7poc">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-gjsp">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-7poc">5</td>
    <td class="tg-ex6j">5</td>
    <td class="tg-7poc">1</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t" colspan="10"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t">Ketenangan</td>
    <td class="tg-ng1t">Keceriaan</td>
    <td class="tg-ng1t">Pasif <br>Sosial</td>
    <td class="tg-ng1t">Pendam <br>Perasaan</td>
    <td class="tg-ng1t">Kurang <br>Bersimpati</td>
    <td class="tg-ng1t">Pemikiran <br>Rasional</td>
    <td class="tg-ng1t">Kebergantungan</td>
    <td class="tg-ng1t">Toleransi</td>
    <td class="tg-ng1t">Bersikap<br>Spontan</td>
    <td class="tg-ng1t">Kebolehpercayaan:<br>Diterima</td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
    <td class="tg-ng1t"></td>
  </tr>
  <tr>
    <td class="tg-ng1t" colspan="14"></td>
  </tr>
</table>

</body>
</html>