@model web.sph.App_Code.IpuTraitViewModel
@{
	Layout = "_MasterPage.cshtml";
}
<style media="print">

	table.table-page-break2 {page-break-after: always;}

</style>
<div style="height:20px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationA)
@Html.Partial("_ipu.trait", Model.RecommendationB)
@Html.Partial("_ipu.trait", Model.RecommendationC)
@Html.Partial("_ipu.trait", Model.RecommendationD)
@Html.Partial("_ipu.trait", Model.RecommendationE)
@Html.Partial("_ipu.trait", Model.RecommendationF)
@Html.Partial("_ipu.trait", Model.RecommendationG)
@Html.Partial("_ipu.trait", Model.RecommendationH)
@Html.Partial("_ipu.trait", Model.RecommendationI)
@Html.Partial("_ipu.trait", Model.RecommendationJ)

<script type="text/javascript">

	window.print();
</script>
