@model web.sph.App_Code.IpuTraitViewModel
@{
	Layout = "_MasterPage.cshtml";
}
<style media="print">

	table.table-page-break2 {page-break-after: always;}

</style>
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationA)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationB)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationC)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationD)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationE)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationF)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationG)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationH)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationI)
<div style="height:40px"></div>
@Html.Partial("_ipu.trait", Model.RecommendationJ)

<script type="text/javascript">

	window.print();
</script>
