@using Humanizer
<!-- BEGIN HEADER -->
<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="#">
			<img src="/images/sph_32x32.png" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler hide">
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<div class="pull-left">
		<a href="@Model.StartModule" style="font-size:24px;color:white;">SISTEM UJIAN PSIKOMETRIK</a>
		</div>
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">


				@if (Model.Designation.IsMessageVisible)
				{
					<!-- BEGIN INBOX DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-envelope-open"></i>
						<span class="badge badge-default">
						@Model.TotalMessageCount </span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3>Anda ada <span class="bold">@Model.TotalMessageCount </span> mesej baru</h3>
								<a href="#message.inbox">lihat semua</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
								@foreach(var m in Model.Messages)
								{
									<li>
										<a href="#message.detail/@m.Id">
										<span class="photo">
										<i class="fa fa-user fa2x"></i>
										</span>
										<span class="subject">
										<span class="from"></span>
										<span class="time">@(Humanizer.TimeSpanHumanizeExtensions.Humanize(DateTime.Now - m.CreatedDate)) </span>
										</span>
										<span class="message">
										@m.Subject</span>
										</a>
									</li>

								}
								</ul>
							</li>
						</ul>
					</li>

					<!-- END INBOX DROPDOWN -->
				}

				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-user"></i>
					<span class="username username-hide-on-mobile">
					@User.Identity.Name </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="##user.profile">
							<i class="icon-user"></i> Profil Saya </a>
						</li>
						<li>
							<a href="#message.inbox">
							<i class="icon-envelope-open"></i> Peti Mesej <span class="badge badge-danger">
							@Model.TotalMessageCount </span>
							</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="/sph/sphaccount/logoff">
							<i class="icon-key"></i> Log Keluar </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-quick-sidebar-toggler">
					<a href="javascript:;" class="dropdown-toggle">
					<i class="icon-logout"></i>
					</a>
				</li>
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
