@using System.Configuration
@using System.Web.Mvc.Html
@{
    Layout = null;
    var theme = ConfigurationManager.AppSettings["theme"];
    var splash = Server.MapPath("~/_splash.html");
    var splashHtml = "";
    if (System.IO.File.Exists(splash))
    {
        splashHtml = (File.ReadAllText(splash));
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Sistem Ujian Psikologi</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    @Html.Partial("_css")
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="description" content="Sistem Ujian Psikometrik, Bahagian Psikologi, Jabatan Perkhidmatan Awam, Malaysia" />
</head>
<body class="page-md page-boxed page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo">
    @Html.Partial("_header")

    <div class="page-container">
      @Html.Partial("_sidebar")
      <div class="page-content-wrapper">
          <div id="applicationHost" class="page-content">
          @if (!string.IsNullOrWhiteSpace(splashHtml))
          {
              @Html.Raw(splashHtml)
          }
        </div>
      </div>

        @Html.Partial("_quick.sidebar")
    <div>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="~/SphApp/objectbuilders.js"></script>
        <script src="/Scripts/__vendor.js"></script>
        <script src="/Scripts/__core.js"></script>
        <script src="/SphApp/schemas/__domain.js"></script>
        <script src="/SphApp/prototypes/prototypes.js"></script>
        <script src="/SphApp/partial/__partial.js"></script>
        <script src="/kendo/js/kendo.custom.min.js"></script>
    }
    else
    {
        <script src="/Scripts/__rx.min.js"></script>
    }

    @Html.Partial("_scripts")
    @Html.Partial("_footer")
    <script type="text/javascript" src="/sph/entitydefinition/schemas"></script>
    <script type="text/javascript" src="/Scripts/require.js" data-main="SphApp/main.custom"></script>

</body>
</html>
